.main-content-bg{
    background-color: #fff;
}
.main-header{
    height:76px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.badge-clear{
    background-color: transparent;
}
.text-color-jaune{
    color: #fcd116;
}